{% if provisioning_user_agent matches '/^Nethesis NP-X3/' %}
Version=2.4.12.1.1
Firmware={{ "#{provisioning_url_scheme}://#{hostname}/#{provisioning_url_path}#{tok2}/firmware/x3sg-5913-RECOVERY-P0.18.23.1.23-2.4.12.1.1-1194T2023-02-14-01.50.11.z" }}
BuildTime=2023.02.14 01:50
Info=TXT|XML
{% elseif provisioning_user_agent matches '/^Nethesis NP-X5/' %}
Version=2.4.6.0.11
Firmware={{ "#{provisioning_url_scheme}://#{hostname}/#{provisioning_url_path}#{tok2}/firmware/x5u-6906-P0.18.23.89-2.4.6.0.11-3610T2023-01-13-17.35.24.z" }}
BuildTime=2023.01.13 17:35
Info=TXT|XML
{% endif %}
